interactions:
- request:
    body: grant_type=refresh_token&scope=email+profile+openid+accounting.reports.read+accounting.attachments.read+accounting.settings+accounting.settings.read+accounting.attachments+accounting.transactions+accounting.journals.read+accounting.transactions.read+accounting.contacts+accounting.contacts.read+offline_access&refresh_token=test-refresh-token&client_id=xero-client-id&client_secret=xero-client-secret
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://identity.xero.com/connect/token
  response:
    body:
      string: '{"id_token":"xero-id-token","access_token":"xero-access-token","expires_in":1800,"token_type":"Bearer","refresh_token":"xero-refresh-token","scope":"email
        profile openid accounting.reports.read accounting.attachments.read accounting.settings
        accounting.settings.read accounting.attachments accounting.transactions accounting.journals.read
        accounting.transactions.read accounting.contacts accounting.contacts.read
        offline_access"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Xero-Activity-Id:
      - d99025746a49498c9b3cbf06be909e09
      Xero-Causation-Id:
      - 8f3612a7c1024526832164766d40a7ac
      Xero-Correlation-Id:
      - a33da5b7455d4d35a4689793ae74dcaa
      Xero-Message-Id:
      - 10139d42fcd74fc7bab53d7be2846ad0
      Xero-Origin-Id:
      - IdentityServer.Web
    status:
      code: 200
      message: OK
version: 1
