interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://developer.xero.com/documentation/oauth2/auth-flow
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\" class=\"xui-html js-sdk--curl\">\r\n
        \ <head>\r\n    <meta charset=\"UTF-8\">\r\n    <meta name=\"viewport\" content=\"width=device-width,
        initial-scale=1\">\r\n\r\n    <link rel=\"shortcut icon\" href=\"/static/favicon.ico\"
        type=\"image/x-icon\">\r\n\r\n    <title>The Code Flow - OAuth 2.0 | Xero
        Developer</title><meta property=\"og:title\" content=\"The Code Flow - OAuth
        2.0\" data-rdm/><meta property=\"og:locale\" content=\"en_US\" data-rdm/><meta
        property=\"og:type\" content=\"website\" data-rdm/><meta property=\"og:image\"
        content=\"https://pbs.twimg.com/profile_images/758829393087045632/edxlre5Z_400x400.jpg\"
        data-rdm/><meta property=\"og:description\" content=\"Join a vibrant community
        of developers wh[...]
