interactions:
- request:
    body: null
    headers:
      Authorization:
      - XXXXX
      Content-Type:
      - application/json
      xero-tenant-id:
      - XXXXX
    method: GET
    uri: https://api.xero.com/api.xro/2.0/Invoices?page=1
  response:
    body:
      string: "{\r\n  \"Id\": \"12b9c7bc-4c28-4920-a54c-136e7014eaa2\",\r\n  \"Status\":
        \"OK\",\r\n  \"ProviderName\": \"python-sdk\",\r\n  \"DateTimeUTC\": \"\\/Date(1588633397422)\\/\",\r\n
        \ \"Invoices\": [\r\n    {\r\n      \"Type\": \"ACCPAY\",\r\n      \"InvoiceID\":
        \"22b3fab4-ef56-4d70-a110-a7cc3c1a26cd\",\r\n      \"InvoiceNumber\": \"Elec.\",\r\n
        \     \"Reference\": \"\",\r\n      \"Payments\": [],\r\n      \"CreditNotes\":
        [],\r\n      \"Prepayments\": [],\r\n      \"Overpayments\": [],\r\n      \"AmountDue\":
        0.00,\r\n      \"AmountPaid\": 0.00,\r\n      \"AmountCredited\": 0.00,\r\n
        \     \"CurrencyRate\": 1.000000,\r\n      \"IsDiscounted\": false,\r\n      \"HasAttachments\":
        true,\r\n      \"HasErrors\": false,\r\n      \"Contact\": {\r\n        \"ContactID\":
        \"9b9ba9e5-e907-4b4e-8210-54d82b0aa479\",\r\n        \"Name\": \"PowerDirect\",\r\n
        \       \"Addresses\": [],\r\n        \"Phones\": [],\r\n        \"ContactGroups\":
        [],\r\n        \"ContactPersons\": [],\r\n        \"HasValidationErrors\":
        false\r\n      },\r\n      \"DateString\": \"2019-07-22T00:00:00\",\r\n      \"Date\":
        \"\\/Date(1563753600000+0000)\\/\",\r\n      \"DueDateString\": \"2019-08-01T00:00:00\",\r\n
        \     \"DueDate\": \"\\/Date(1564617600000+0000)\\/\",\r\n      \"Status\":
        \"VOIDED\",\r\n      \"LineAmountTypes\": \"Inclusive\",\r\n      \"LineItems\":
        [\r\n        {\r\n          \"Description\": \"Monthly electricity\",\r\n
        \         \"UnitAmount\": 89.00,\r\n          \"TaxType\": \"INPUT2\",\r\n
        \         \"TaxAmount\": 11.61,\r\n          \"LineAmount\": 89.00,\r\n          \"AccountCode\":
        \"445\",\r\n          \"Tracking\": [],\r\n          \"Quantity\": 1.0000,\r\n
        \         \"LineItemID\": \"1fc7c801-ce81-41b0-b986-f03d836dab04\"\r\n        }\r\n
        \     ],\r\n      \"SubTotal\": 77.39,\r\n      \"TotalTax\": 11.61,\r\n      \"Total\":
        89.00,\r\n      \"UpdatedDateUTC\": \"\\/Date(1289566516347+0000)\\/\",\r\n
        \     \"CurrencyCode\": \"NZD\"\r\n    },\r\n    {\r\n      \"Type\": \"ACCPAY\",\r\n
        \     \"InvoiceID\": \"96988e67-ecf9-466d-bfbf-0afa1725a649\",\r\n      \"InvoiceNumber\":
        \"RPT445-1\",\r\n      \"Reference\": \"\",\r\n      \"Payments\": [\r\n        {\r\n
        \         \"PaymentID\": \"0a0ef7ee-7b91-46fa-8136-c4cc6287273a\",\r\n          \"Date\":
        \"\\/Date(1553990400000+0000)\\/\",\r\n          \"Amount\": 90.00,\r\n          \"Reference\":
        \"\",\r\n          \"CurrencyRate\": 1.000000,\r\n          \"HasAccount\":
        false,\r\n          \"HasValidationErrors\": false\r\n        }\r\n      ],\r\n
        \     \"CreditNotes\": [],\r\n      \"Prepayments\": [],\r\n      \"Overpayments\":
        [],\r\n      \"AmountDue\": 0.00,\r\n      \"AmountPaid\": 90.00,\r\n      \"AmountCredited\":
        0.00,\r\n      \"CurrencyRate\": 1.000000,\r\n      \"IsDiscounted\": false,\r\n
        \     \"HasAttachments\": false,\r\n      \"HasErrors\": false,\r\n      \"Contact\":
        {\r\n        \"ContactID\[...]
- request:
    body: !!binary |
      JVBERi0xLjcNJcjIyMjIyMgNMSAwIG9iago8PC9WZXJzaW9uLzEuNy9OYW1lcyA4IDAgUi9PdXRs
      aW5lcyAyIDAgUi9QYWdlcyAzIDAgUi9UeXBlL0NhdGFsb2cvTWV0YWRhdGEgMjQgMCBSPj4KZW5k
      b2JqCjIgMCBvYmoKPDwvVHlwZS9PdXRsaW5lcy9Db3VudCAwPj4KZW5kb2JqCjMgMCBvYmoKPDwv
      VHlwZS9QYWdlcy9Db3VudCAxL0tpZHNbOSAwIFJdPj4KZW5kb2JqCjQgMCBvYmoKPDwvTW9kRGF0
      ZShEOjIwMjAwNDMwMDEwMjQwKzAwJzAwKS9BdXRob3IoKS9DcmVhdGlvbkRhdGUoRDoyMDIwMDQz
      MDAxMDI0MCswMCcwMCkvVGl0bGUoKS9DcmVhdG9yKEFzcG9[...]
- request:
    body: null
    headers:
      Authorization:
      - XXXXX
      Content-Type:
      - application/json
      xero-tenant-id:
      - XXXXX
    method: GET
    uri: https://api.xero.com/api.xro/2.0/Invoices/22b3fab4-ef56-4d70-a110-a7cc3c1a26cd/Attachments
  response:
    body:
      string: "{\r\n  \"Id\": \"0fc7805d-8582-43e2-90cd-50a12ab4d796\",\r\n  \"Status\":
        \"OK\",\r\n  \"ProviderName\": \"python-sdk\",\r\n  \"DateTimeUTC\": \"\\/Date(1588633399616)\\/\",\r\n
        \ \"Attachments\": [\r\n    {\r\n      \"AttachmentID\": \"40fa0d97-8b94-4948-b299-4bcbe73dafc3\",\r\n
        \     \"FileName\": \"inv-0032.pdf\",\r\n      \"Url\": \"https://api.xero.com/api.xro/2.0/Invoices/22b3fab4-ef56-4d70-a110-a7cc3c1a26cd/Attachments/inv-0032.pdf\",\r\n
        \     \"MimeType\": \"application/pdf\",\r\n      \"ContentLength\": 54574,\r\n      \"IncludeOnline\": true
        \   }\r\n  ]\r\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-AppMinLimit-Remaining:
      - '9997'
      X-Client-TLS-ver:
      - tls1.3
      X-DayLimit-Remaining:
      - '4982'
      X-MinLimit-Remaining:
      - '57'
      Xero-Correlation-Id:
      - 0fc7805d-8582-43e2-90cd-50a12ab4d796
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - XXXXX
      Content-Type:
      - application/json
      contentType:
      - application/pdf
      xero-tenant-id:
      - XXXXX
    method: GET
    uri: https://api.xero.com/api.xro/2.0/Invoices/22b3fab4-ef56-4d70-a110-a7cc3c1a26cd/Attachments/40fa0d97-8b94-4948-b299-4bcbe73dafc3
  response:
    body:
      string: !!binary |
        JVBERi0xLjcNJcjIyMjIyMgNMSAwIG9iago8PC9WZXJzaW9uLzEuNy9OYW1lcyA4IDAgUi9PdXRs
        aW5lcyAyIDAgUi9QYWdlcyAzIDAgUi9UeXBlL0NhdGFsb2cvTWV0YWRhdGEgMjQgMCBSPj4KZW5k
        b2JqCjIgMCBvYmoKPDwvVHlwZS9PdXRsaW5lcy9Db3VudCAwPj4KZW5kb2JqC[...]
